<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PHP framework</title>
    </head>
    <body>
      <h2>PHP FRAMEWORK</h2>
      <h3>Symfony 4</h3>
      <a href="{{phase1}}">Phase 1</a>
      <a href="{{phase2}}">Phase 2-3</a>
      <a href="{{phase4}}">Phase 4</a>
    </body>
</html>
